/* Definindo o Padrão da página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    line-height: 1.6;
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

