body {
    background-color: #1B1C21;
}

/*acima defini a cor de toda a página*/

/*aqui estou definindo o Cabeçalho e Menu*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logonome h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: left;
    
}

.cabeçalho {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: right;
    gap: 60px; 
}

/*aqui estou definindo os textos da Página 1*/

.Parte1 {

}

footer {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

